* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  background: rgba(15, 23, 42, 0.7);
  z-index: 100;
}

.menu a {
  margin-left: 25px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 42px;
  background: linear-gradient(to right, #38bdf8, #a78bfa);
  -webkit-background-clip: text;
  color: transparent;
}

.hero p {
  margin: 15px 0;
  color: #cbd5f5;
}

/* BUTTON */
button {
  padding: 14px 30px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to right, #38bdf8, #6366f1);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

/* PORTFOLIO */
.portfolio {
  padding: 60px;
  text-align: center;
}

.grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
}

.grid img {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.grid img:hover {
  transform: scale(1.07);
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  z-index: 200;
}

.modal-content {
  background: #1e293b;
  padding: 25px;
  margin: 15% auto;
  width: 320px;
  border-radius: 15px;
  text-align: center;
}

.modal-img {
  display: block;
  margin: auto;
  max-width: 80%;
  margin-top: 5%;
}

.close {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 35px;
  cursor: pointer;
}
